<h1>Create New Products</h1>
<div class="mt-2">
  <h3 style="color: red; justify-content: end;">{{addproductmessagge}}</h3>
</div>

<form #addproducts="ngForm" (ngSubmit)="submit(addproducts.value)">
<div class="form-control mt-3">
<input type="text" placeholder="Enter Product Name" name="name" ngModel/>
</div>
<div class="form-control mt-3">
<input type="text" placeholder="Enter Product Description" name="description" ngModel/>
</div>
<div class="form-control mt-3">
<input type="number" placeholder="Enter Product Price" name="price" ngModel/>
</div>
<div class="form-control mt-3">
<input type="text" placeholder="Product iimage" name="photo" ngModel/>
</div>
<div class="form-control mt-3">
  <input type="text" placeholder="Product color" name="color" ngModel/>
  </div>
<div class="form-control mt-3">
    <button type="submit" class="btn btn-success">Create</button>
</div>
</form>